<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Reveal.js</title>
  <link rel="stylesheet" href="../assets/css/reveal.css">
  <!-- <link rel="stylesheet" href="css/theme/moon.css"> -->
  <link rel="stylesheet" href="../assets/css/theme/league.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="../assets/lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '../assets/css/print/pdf.css' : '../assets/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>Reveal模板示例</h1>
      </section>
    </div>
  </div>
  <script src="../assets/lib/js/head.min.js"></script>
  <script src="../assets/js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      transition: 'concave',
      dependencies: [
        { src: '../assets/plugin/zoom-js/zoom.js', async: true },
      ]
    });
    Reveal.configure({ backgroundTransition: 'zoom' })

  </script>
</body>
</html>
